:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #32425C;
    --basic-grey-dark: #293449;
    --basic-greylight: #C5C5C5;
    --basic-background: #F3F7F9;
    --basic-black: #000000;
    --basic-yellow: #FFD180;
    --white: #FFFFFF;
    --basic-grey-title: #F2F6F8;
    --grey-background: #F1F5F7;
    --basic-beige: #F9F5F0;
    --promo-yellow: #FFBF47;
    --promo-blue: #3BBCE3;
    --promo-green: #8ED78F;
    --promo-violet: #DC91D8;
    --error: #BA2732;
    --special-red: #CA2C37;
    --success: #5FBB2D;
    --social: #212A3A;
}

body {
    min-width: 940px;
    font-family: "Cuprum", Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-grey);
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}
/*grid*/

.page {
    height: 100%;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
/*header*/

.main-header {
    background: var(--basic-background);
    margin-bottom: 59px;
    height: 320px;
}
.main-header-bar {
    height: 42px;
    background: var(--basic-grey);
}

.header-content-wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.main-navigation {
    order: 3;
    color: var(--white);
    box-shadow: inset 0px -5px 0px #293449;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    
   
}
.wrapper-contacts {
    order: 2;
    display: grid;
    grid-template-columns: 1fr 1fr max-content max-content;
    width: inherit;
    height: 158px;
}
.header-contacts {
    width: 300px;
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--basic-grey);
    height: 60px;
}

.user-navigation {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    width: 100%;
    height: 42px;
}
/*иконки*/
.search {
    flex-grow: 1;
    display: flex;
}
.search::before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
    margin-right: 8px;
    opacity: 0.3;
}
.search:hover::before,
.bookmarks:hover::before,
.basket:hover::before
{
    opacity: 1;
}
.search:active::before,
.search:active,
.bookmarks:active::before,
.bookmarks:active,
.basket:active,
.basket:active::before
{
    opacity: 0.5;
}

.bookmarks{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
.bookmarks::before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-bookmark.svg");
    margin-right: 8px;
    opacity: 0.3;
}

.basket{
    display: flex;
     margin-left: 15px;
    margin-right: 15px;
}

.basket::before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-cart.svg");
    margin-right: 8px;
    opacity: 0.3;
}
.order {
    display: flex;
    padding: 0 15px;
}
.user-navigation a {
   align-items: center;
}
.main-navigation a,
.user-navigation a {
    color: var(--white);
    text-decoration: none;
}
.main-navigation a {
    padding: 16px 20px;
}
.logo-container {
    background-color: var(--basic-red);
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    display: flex;
    margin-right: 15px;
}
.logo-container a {margin: auto;}

.contacts-phone {
    color: var(--basic-red);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 45px;
    outline: 2px solid var(--white);
    margin-top: 46px;
    height: 45px;
    width: 270px;
    position: relative;
    padding-left: 74px;
    display: block;
    box-sizing: border-box;
}
.contacts-phone::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;;
    top: 13px;
    left: 39px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.adress {
    width: 270px;
    text-align: center;
}
.main-header-slogan {
    font-family: Cuprum;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    width: 200px;
    padding-left: 30px;
    padding-top: 42px;
}

.order {
    background-color: var(--basic-green);
}

.order:hover {
    background-color: var(--success);
}

.login-link,
.registration {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);
    background-color: var(--white);
    color: var(--basic-black);
    border: none;
    position: relative;
    height: 45px;
    padding-right: 24px;
    padding-left: 24px;
}
.login-link {
 
   margin-right: 10px;
    display: flex;
    align-items: center;
}
.login-link::before {
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../img/icon-login-enter.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
}
.button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 281px;
    height: 45px;
    margin-top: 46px;
}
/*main*/
.container {
    width: 940px;
    margin: 0 auto;   
}

.goods-list,
.popular-manufacturers-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.promo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 123px 123px 123px;
    grid-gap:  20px;
}
.promo { 
    margin-bottom: 20px;
}
.promo-item {
    font-family: Cuprum;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
    background-color: var(--promo-yellow);
    display: grid;
    grid-template-columns: 1fr 120px;
}
.promo-item img {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: auto;
}
.promo-item h3 {
    margin: 0;
    margin-top: 20px;
    margin-left: 23px;
    margin-bottom: 14px;
}

.materials {
    grid-column-start: 1;
    grid-row-start: 1;
}

.tools {
    background-color: var(--promo-blue);
    grid-column-start: 2;
    grid-row-start: 1;
}

.technics {
    background-color: var(--promo-violet);
    grid-column-start: 3;
    grid-row-start: 1;
}

.discount {
    background-color: var(--promo-green);
    grid-column-start: 3;
    grid-row-start: 2;
    
}
.delivery {
    grid-column-start: 3;
    grid-row-start: 3;
}

.visually-hidden {
    display: none;
}

.promo-slider {
    background-color: var(--basic-grey);
    color: var(--white);
    grid-column: 1/3;
    grid-row: 2/-1;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
}
.promo-slider-1 {
    background-image: url("../img/Dreli.jpg");
    margin: 0;
    padding: 0; 
}

.promo-slider-2 {
    background-color: var(--basic-grey);
    margin: 0;
    padding: 0; 
}
.slide-current {
    display: block
}
.slide {
    display: none;
}
.slider-controls {
    padding: 18px 24px;
}
.slider-batton {
    border: none;
    background-color: transparent;
}
.promo-item a {
    color: var(--white);
    text-decoration: none;
    display: block;
    min-width: 135px;
    height: 38px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 23px;
    margin-bottom: 21px;
    
}
.promo-item a:hover {
    background-color: rgba(197, 197, 197, 0.3); 
}
.promo-item a:active,
.promo-item a:focus {
    background-color: rgba(169, 169, 169, 0.3); 
}

.promo-slider-list {
    margin: 0;
    padding: 0;
}
.slider-content {
    height: 104px;
    background: rgba(0, 0, 0, 0.25);
}

.slider-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0; 
    margin: 0;
    padding-top: 23px; 
    padding-left: 24px;
}

.slider-moto {
    font-size: 18px;
    line-height: 24px;
    padding-left: 24px;
}

.slider-controls{
    display: flex;
    justify-content: space-between;
}
.batton-catalog {
    margin-left: 24px;
    margin-top: auto;
    margin-bottom: 27px;
}

.popular-goods-header,
.popular-manufacturers-header {
    background-color: var(--basic-beige);
    color: var(--basic-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 14px;
    padding-left: 28px;
    margin-bottom: 20px;
}
.goods-list {
    display: flex; 
}
.goods-item {
    width: 220px;
    height: 318px;
    margin-right: 20px;
    position: relative;
}
.goods-item:nth-child(4) {
    margin-right: 0;
}
.card {
    position: absolute;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 21px 18px;
    box-sizing: border-box;
   
}
.card-1 {
    
    
}
.card-2 {
    display: none;
    background-color: var(--white);
}

.goods-item:hover .card-2 {
    display: block;
    z-index: 1;
}
.product-image{
   order: -1;
    flex-grow: 1;
}
.product-price {
    width:  141px; 
    height: 38px;
    background-color: var(--basic-red);
    color: var(--white);
    font-weight: 700;
    line-height: 38px;
    font-size: 18px;
    margin-top: auto;

}
.goods-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}

.goods-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.popular-goods,
.popular-manufacturers {
    margin-bottom: 70px;
}
.popular-manufacturers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:  20px;
}
.popular-goods-header h2,
.popular-manufacturers-header h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-grey);
}

.popular-manufacturers-item a:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-manufacturers-item a:active {
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15))
}

.services h2,
.about h2,
.contacts h2,
.product-information h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
    margin: 0;
    padding-bottom: 25px;
}

.services h3 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-grey);
}

.services {
    background-color: var(--grey-background);
}
.services-promo {
    width: 400px;
    padding-top: 64px;
}
.services-promo p {
    margin: 0;
    padding-bottom: 0;
}
.services-catalog {
  display: flex;
  justify-content: space-between;
    margin-top: 70px;
}
.services-item {
    display: inline-block;
    width: 240px;
    height: 61px;
}
.services-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-item a {
    background-color: var(--basic-grey);
    font-family: Cuprum;
    font-weight: bold;
    font-size: 21px;
    line-height: 61px;
    color: var(--white);
    text-decoration: none;
    display: block;
    height: 100%;
    padding-left: 22px;
}

.services-item a:hover {
    background-color: var(--basic-grey-dark);
}

.services-item .services-current,
.services-item .services-current:hover {
    background-color: var(--white);
    color: var(--basic-grey);
}
.service-delivery {
    margin-left: 80px;
}
.transport-company-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.transport-company-item {
    font-size: 18px;
    line-height: 24px;
    position: relative;
    padding-left: 37px;
    margin-bottom: 15px;
}

.transport-company-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
    left: 0px;
    background-color:var(--basic-red);
} 
    

.transport-company-item a {
    color: var(--basic-black);
    text-decoration: none;
}
.about-contacts {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 180px;
    margin-bottom: 70px;
    margin-top: 70px;
}
.contacts, .about {
    display: flex;
    flex-direction: column;
} 
.details, .map {
    margin-top: auto;
}
/*Footer*/
.footer-navigation-bar {
    background-color: var(--basic-grey);
}
.footer-bottom-bar {
   background-color: var(--basic-grey-dark); 
   height: 107px;
}

.footer-bottom {
    color: var(--white);
    font-size: 16px;
    line-height: 18px;
    width: 940px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container-footer {
    background-color: var(--basic-red);
    width: 220px;
    height: 68px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main-navigation,
.footer-sub-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 35px;
   
}
.footer-navigation {
    width: 940px;
    margin: 0 auto;
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    display: grid;
    grid-template-columns: 340px 1fr;
    padding-bottom: 45px;
}

.footer-contacts {
    order: 1;
}

.footer-sub-navigation {
    order: 2;
}

.footer-main-navigation a {
    color: var(--white);
    text-decoration: none;
}
.footer-main-navigation li,
.footer-sub-navigation li {
    margin-left: 55px;
    margin-bottom: 20px;
}

.footer-sub-navigation a {
    color: var(--basic-yellow);
    text-decoration: none;
}
.footer-copyright {
    width: 230px;
}
.mailto {
    width: 140px;
}
.academy {
    width: 100px;
}
.mailto-link,
.academy-link {
    color: var(--basic-yellow);
    text-decoration: none;
}

.footer-main-navigation a:hover,
.footer-sub-navigation a:hover,
.mailto:hover,
.academy:hover {
    text-decoration: underline;
}

.mailto:active,
.academy:active {
    color: var(--basic-red);
    text-decoration: none;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
}
.social-button {
    display: flex;
    background-color: var( --social);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.social-button:hover,
.social-button:active {
    background-color: var(--basic-red);
}

.button {
    font: inherit;
    text-align: center;
    color: var(--white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    display: block;
}

.button:hover {
    background-color: var(--special-red);
}

.button:active {
    background-color: var(--error);
}
.batton-catalog,
.button-goods,
.button-manufactures {
    width: 192px;
}
.details {
   width: 220px; 
}
.services p,
.about p,
.contacts p,
.product-information p {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}


/*catalog*/
.inner-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 89px;
}
.page-title {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.title-container {
    background-color: var(--basic-grey-title);
    grid-column-start: 1;
    grid-column-end: 5;
}
.breadcrumbs { 
    grid-column-start: 1;
    grid-column-end: 5;
}
.product-information {
    background-color: var(--grey-background);
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumbs a {
    text-decoration: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}
.filters {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 6;
}
.filter ul,
.sort-list {
    list-style: none;
}

.filter legend {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}
.sort {
    display: flex;
    width: 700px;
}
.sort h2 {
    width: 30%;
}
.sort-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.catalog {
    grid-column-start: 2;
    grid-column-end: -1;
}
.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}
.catalog-list,
.pagination-list {
    list-style: none;
}
.pagination-list {
    display: flex;
    
}
.sort h2,
.filters h2,
.pagination-item a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.pagination-item a {
    text-decoration: none;
}

.catalog-item h3 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.filter-option {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
}
.product-information .container {
    padding: 64px 0 64px;
}